<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<springProperty name="springAppName" source="spring.application.name"/>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{dd MMM yyyy ;HH:mm:ss.SSS} %highlight(%level) [%thread] ${HOSTNAME} ${springAppName:-} 
				%logger{0}.%M\(%line\) - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/${springAppName}//${springAppName}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>logs/${springAppName}/${springAppName}_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize> 
		</rollingPolicy>
		<encoder>
			<pattern>%d{dd MMM yyyy ;HH:mm:ss.SSS} %highlight(%level) [%thread] ${HOSTNAME} ${springAppName:-} 
				%logger{0}.%M\(%line\) - %msg%n
			</pattern>
		</encoder>
	</appender>
	 
	<root level="INFO">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>

	<logger name="com.nagarro.nagp">
		<level value="INFO" />
	</logger>
</configuration>